<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelToXml.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="NumFiles" value="2" />
        <add key="input_excel_folder" value="D:\Github\JGame\Data\Excel" />
        <add key="File0" value="D:\Github\JGame\Data\Excel\Localization.xlsx" />
        <add key="File1" value="D:\Github\JGame\Data\Excel\UnitData.xlsx" />
        <add key="CachedInputNum" value="2" />
        <add key="CachedOutputNum" value="2" />
        <add key="InputPath_-1" value="D:\Github\JGame\Data\Excel\UnitData.xlsx" />
        <add key="OutputPath_0" value="D:\Github\JGame\JGame\Assets\Resources\Localize" />
        <add key="output_xml_folder" value="D:\" />
        <add key="InputPath_0" value="D:\Github\JGame\Data\Excel\Localization.xlsx" />
        <add key="InputPath_1" value="D:\Github\JGame\Data\Excel\UnitData.xlsx" />
        <add key="OutputPath_1" value="D:\Github" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ExcelToXml.Properties.Settings>
            <setting name="input_excel_folder" serializeAs="String">
                <value>..\..\..\Data</value>
            </setting>
            <setting name="output_xml_folder" serializeAs="String">
                <value />
            </setting>
        </ExcelToXml.Properties.Settings>
    </userSettings>
</configuration>