JGame/Obj/
JGame/UnityGenerated/
JGame/Library/
JGame/Temp/

*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
ExternalTools/DataTransfer/Transfer/obj/
ExternalTools/DataTransfer/Transfer/bin/
ExternalTools/DataTransfer/DataTransfer/obj/
