JGame/Obj/
JGame/UnityGenerated/
JGame/Library/
JGame/Temp/

*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?

//*.csproj
//*.sln
//ehthumbs.db
//Thumbs.db

ExternalTools/DataTransfer/ExcelToXml/obj/
ExternalTools/DataTransfer/ExcelToXml/bin/

JGame/JGame.csproj
JGame/JGame.Editor.csproj
JGame/JGame.sln
*.ide
*.ide
